@model CarLocadora.Modelo.FormaPagamento

@{
    ViewData["Title"] = "Edit";
}

<br/>
<h3> Editar Forma de Pagamento</h3>
<hr class="bg-dark" />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" type="hidden">
            <partial name= "_Formulario"/>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
