@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo ao Car Locadora</h1>
    <h2 class="display-4">A mais de 20 anos atendendo Você!</h2>
    
</div>
