@model CarLocadora.Modelo.Cliente

@{
    ViewData["Title"] = "Create";
}


<br/>
<h3>Adicionar Cliente</h3>
<hr class="bg-dark" />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name= "_Formulario"/>

        </form>
    </div>
</div>

@*<div>
    <a class="btn btn-outline-primary text-white text-decoration-none" asp-action="Index">Voltar para lista</a>
</div>*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
