@model CarLocadora.Modelo.Veiculo

@{
    ViewData["Title"] = "Editar";
}


<br/>
<h3>Editar Veiculo</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <partial name= "_Formulario"/>
        </form>
    </div>
</div>

<div>
   @* <a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
